
<html>
 <head>

 <!-- bootstrap css -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <title>The Gossip Project</title>
 </head>
 <body>
   <h1 class="d-flex justify-content-center" style='padding: 50px'>Bienvenue dans mon site de potin</h1>
   <p class="d-flex justify-content-center">Vous pouvez creer des potins sur ce lien: </p> 
   <div class="d-flex justify-content-center" style='margin-bottom: 15px'><a href="/gossips/new/"> New potin</a></div>

   <h2 class="d-flex justify-content-center">Listes des potins enregistres:</h2>

   <!-- Tableau pour afficher les potins -->
   <div class="d-flex justify-content-center">
    <table class="table table-bordered " style='width: 75%'>
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">AUTHOR</th>
          <th scope="col">CONTENT</th>
        </tr>
      </thead>
      <% gossips.each_with_index do |gossip, id| %>
      <tbody>
        <tr>
          <th scope="row"><%= id %></th>
          <td><a href="/gossips/<%= id %>"><%= gossip[0]%></a></td>
          <td><%= gossip[1] %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    </div>
  

  
   

  <!-- bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

 </body>
</html>